.rankBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: space-evenly;
    margin: 0;
    padding: .5rem;
    color: black;
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 1rem;
}

.rankText {
    font-size: 1.2rem;
}

.rankCounter {
    font-size: 2.3rem;
    color: whitesmoke;
}